{% extends "./_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {{ form.certifications.errors }}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">登録・更新</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <a class="btn btn-outline-dark" href="{% url 'index' %}">戻る</a>
                    <a class="btn btn-outline-dark save" href="#">保存</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post" id="myform">
                    <!-- crispy form -->

                    <!--フローティングラベル-->
                    {% csrf_token%}
                    <label>顧客名</label>
                    {{ form.name | as_crispy_field }}
                    <label>フリガナ</label>
                    {{ form.name_furigana | as_crispy_field }}
                    <label>郵便番号</label>
                    {{ form.postcode | as_crispy_field }}
                    <label>住所</label>
                    {{ form.address1 | as_crispy_field }}
                    {{ form.address2 | as_crispy_field }}
                    {{ form.address3 | as_crispy_field }}
                    <label>メール</label>
                    {{ form.email | as_crispy_field }}
                    <label>所属団体</label>
                    {{ form.Dantai | as_crispy_field }}
                    <label>リース期限</label>
                    {{ form.leaseDate | as_crispy_field }}
                    {{ form.onlineSupport | as_crispy_field }}
                    <label>HPのURL</label>
                    {{ form.hpUrl | as_crispy_field }}
                    <label>メモ</label>
                    {{ form.memo | as_crispy_field }}


                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-right mb-3">
                    <a class="btn btn-outline-dark" href="{% url 'index' %}">戻る</a>
                    <a class="btn btn-outline-dark save" href="#">保存</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}