{% extends "./_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">検索条件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                        <button type="submit" class="btn btn-outline-dark" form="filter">検索</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary filtered" style="visibility:hidden" href="/?page=1">検索を解除</a>
                <div class="float-right mt-1">
                    <a class="btn btn-outline-dark" href="{% url 'create' %}">新規</a>
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
        </div>

        <!--
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for item in item_list %}
                        <li class="list-group-item">
                            {# item_detail_contents.html を参考に必要な項目を追加してください07 #}
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>顧客名08</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.name|default_if_none:"未入力11" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>住所09</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.address|default_if_none:"未入力12" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>都道府県10</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{  item.get_todofuken_display|default_if_none:"未入力13" }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>オンラインサポート</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.onlineSupport|yesno:"○,×"}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>リース期限</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.leaseDate|date:"Y年m月d日"  }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>所属団体（マスタ連動）</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{  item.belongsDantai.get_full_name|default_if_none:"未入力" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>メモ</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.memo|default_if_none:"未入力" }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>作成者</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.created_by.get_full_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>作成時間</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a class="btn btn-outline-dark " href="{% url 'detail' item.pk %}">詳細14</a>
                                        <a class="btn btn-outline-dark " href="{% url 'update' item.pk %}">編集15</a>
                                        <a class="btn btn-outline-dark " href="{% url 'delete' item.pk %}">削除16</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            対象のデータがありません17
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        -->

        <div class="row">
            <div class="col-12">

                <table border="1">
                    {% if item_list %}
                    <tr>
                        <th>顧客名</th>
                        <th>住所</th>
                        <!--  <th>メール</th> -->
                        <th>都道府県</th>
                        <th>所属団体</th>
                        <!-- <th>リース期限</th> -->
                        <!-- <th>Online</th> -->
                        <!-- <th>HPのURL</th> -->
                        <!-- <th>メモ</th> -->
                        <th>詳細</th>
                        <th>編集</th>
                        <th>削除</th>
                    </tr>
                    {% endif %}

                    {% for item in item_list %}
                    <tr>
                        <td>{{ item.name|default_if_none:"未入力" }}</td>
                        <td>{{ item.address|default_if_none:"" }}</td>
                        <!--  <td>{{ item.email|default_if_none:"" }}</td> -->
                        <td>{{ item.get_todofuken_display|default_if_none:"" }}</td>
                        <td>{{ item.Dantai|default_if_none:"" }}</td>
                        <!-- <td>{{ item.leaseDate|date:"Y年m月d日" }}</td> -->
                        <!-- <td align="center">{{ item.onlineSupport|yesno:"○,×" }}</td> -->
                        <!-- <td>{{ item.hpUrl|truncatechars:16}}</td> -->
                        <!-- <td>{{ item.memo|truncatechars:16}}</td> -->
                        <td  align="center"><a class="btn btn-secondary " href="{% url 'detail' item.pk %}">詳細</a></td>
                        <td  align="center"><a class="btn btn-dark " href="{% url 'update' item.pk %}">編集</a></td>
                        <td  align="center"><a class="btn btn-danger " href="{% url 'delete' item.pk %}">削除</a></td>
                    </tr>
                    {% empty %}
                        <li class="list-group-item">
                            対象のデータがありません
                        </li>
                    {% endfor %}
                </table>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-right mt-1 mb-3">
                    <a class="btn btn-outline-dark" href="{% url 'create' %}">新規</a>
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}