<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div><!-- /.modal-header -->
        <div class="modal-body">
          <p>入力途中ですがキャンセルしてよろしいですか？</p>
        </div><!-- /.modal-body -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">いいえ</button>
          <button type="button" id="back" class="btn btn-primary">はい</button>
        </div><!-- /.modal-footer -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->